program test3;

{
    int i;
}

void tick(){

}

int sum(int[10] arr) {
    int sum;
    sum = 0;
    for (i = 0; i < 10; i = i + 1) {
        sum = sum + arr[i];
    }

    return sum;
}

void printList(int[10] arr){
    int i;
    for (i = 0; i < 10; i = i + 1) {
        print(arr[i]);
    }
}

void bubbleSort(int[10] arr){
    int i, j;
    for(i=0; i<9; i=i+1){
        for(j=0; j<10 - i - 1; j=j+1){
            if(arr[j]>arr[j+1]){
                int tmp, tmp2;
                tmp = arr[j+1];
                tmp2 = arr[j];
                arr[j+1] = tmp2;
                arr[j] = tmp;
            }
        }
    }
    printList(arr);
}

int find(int n, int[10] arr){
    int i;
    for(i=0; i<10; i=i+1){
        if(arr[i]==n){
            return i;
        }
    }
    return -1;
}

void main(){

    int[10] unsortedList;
    unsortedList[0] = 5;
    unsortedList[1] = 2;
    unsortedList[2] = 3;
    unsortedList[3] = 10;
    unsortedList[4] = 7;
    unsortedList[5] = 1;
    unsortedList[6] = 4;
    unsortedList[7] = 8;
    unsortedList[8] = 6;
    unsortedList[9] = 9;

    print(find(4, unsortedList));

    bubbleSort(unsortedList);

}