program test3;

{
    Square s1;
    Circle c1;
    float f;

}

void tick(){
    int x;
}


void main(){
    Square s2;
    Square c2;
    f = 2.0;
    s2.x = f;
    s2.y = f;
    print(s2.x + s2.y);

}