program AddTwoNumbers;

{

}

int addTwoNumbers(int number1, int number2) {
  return number1 + number2;
  return aksdjlsd(xdsd)
}



void main() {
  int result;
  result = addTwoNumbers(1, 2);
  print(result); // result = 3
}