program FiboIterative;

{
    int i;
}

// 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144
int fibIt(int n) {
    int a, b, tmp;
    a = 0;
    b = 1;

    if (n < 2) {
        return n;
    }

    for (i = 2; i < n; i = i+1) {
        tmp = a + b;
        a = b;
        b = tmp;
    }

    return b;
}

void main() {
  print(fibIt(12));
}

