program mouseTest;

{
    bool mouse;
}

void tick(){
    Clear();
    if(KeyPressed("MouseLeft")){
        mouse = true;
    }
    Update();
}

void main(){
    mouse = false;
    while(mouse==false){
        tick();
    }
}






